* {box-sizing: border-box;}

/* ========== [CORE] Styling ========== */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
    line-height: 1.15;
}



/* ========== [LEE] HEADER ========== */

.p-header {
    background: url("../images/header/Header_BG.png");
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-header-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.p-header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}



/* ========== [LEE] NAVIGATION ========== */

.p-nav {
    color: #fff;
    border-top: 2px solid #1a1a1a;
    background-color: #1e1e1e;
    border-bottom: 6px solid #76b852;
}

.p-nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    width: calc(100% - 40px);
    transition: max-width .2s;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.p-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.p-nav-link-active {
    background: linear-gradient(to bottom, #8dc26f 0%, #76b852 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-transform: uppercase;
}

.p-nav-opposite {
    margin-left: auto;
    text-align: right;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
}

.p-navgroup-link {
    color: #fff;
    text-decoration:none;
}

.p-nav-list .p-navEl {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.7;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* ========== [LEE] SUB-NAV ========== */

.p-subNav {
    font-size: 12px;
    color: #7c9292;
    background: #f9fafa;
    border-bottom: 1px solid #e0e0e0;
}

.p-subNav .pageContent {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    min-height: 40px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    transition: max-width .2s;
}

.p-subNavLinks-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.p-subNavLinks-list .p-navEl {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li.subNav {
    float: left;
}

li.subNav a {
    display: block;
    text-align: center;
    padding: 0px 12px;
    text-decoration:none;
    color: inherit;
}

.p-nav-opposite input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
}

.p-nav-opposite button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }



/* ========== [LEE] CONTENT ========== */

.boxed {
    margin: auto;
    width: 50%;
    border: 6px solid #76b852;
    padding: 10px;
    text-align: center;
    margin-top:10px;
}



/* ========== [LEE] FOOTER ========== */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1e1e1e;
    border-top: 6px solid #76b852;
    border-bottom: 2px solid #1a1a1a;
    color: white;
    text-align: center;
}